<div
  class="post-card border border-gray-400 aspect-square"
  [ngClass]="{
    'post-card--first-click': cardState === CardState.firstClick,
    'post-card--second-click': cardState === CardState.secondClick,
    'post-card--last-click': cardState === CardState.lastClick,
  }"
  (click)="onClick()"
  [@flip]="cardState"
>
  <div class="post-card__content p-2">
    <h3
      class="text-sm line-clamp-6 lg:line-clamp-3 xl:line-clamp-5"
      [title]="content()"
    >
      {{ content() }}
    </h3>
  </div>
</div>
