.post-card {
  @apply bg-yellow-200;
  transform: rotateX(0) rotateY(0);
  transform-style: preserve-3d;

  .post-card__content {
    @apply w-full h-full left-0 top-0 backface-hidden;
  }

  &--description {
    @apply bg-green-200;

    .post-card__content {
      transform: rotateX(0) rotateY(-180deg);
    }
  }
}